# global options
{
    admin off
    persist_config off
    auto_https off

    log {
        format json
    }

    servers {
        trusted_proxies static private_ranges
    }
}

(lb_settings) {
    lb_policy round_robin
    lb_retries 100
    lb_try_duration 10s
    lb_try_interval 250ms
}

(passive_health_checks) {
    fail_duration 60s
    max_fails 300
    unhealthy_latency 5s
    unhealthy_request_count 200
}

(proxy_common) {
    import lb_settings
    import passive_health_checks

    # Yo recomiendo conservar el Host ORIGINAL (útil para Django ALLOWED_HOSTS y frontends SSR)
    # Si te da problemas por alguna razón, lo ajustamos.
    header_up Host {http.request.host}
}

:{$PORT} {
    log { format json }

    # ---------- FRONT 1 ----------
    @frontend_1 host {$FRONTEND_1_DOMAIN}
    handle @frontend_1 {
        reverse_proxy {
            dynamic a {
                name {$FRONTEND_1_UPSTREAM_DOMAIN}
                port {$FRONTEND_1_UPSTREAM_PORT}
                refresh 1s
                dial_timeout 30s
                versions ipv4 ipv6
            }
            import proxy_common
        }
    }

    # ---------- FRONT 2 ----------
    @frontend_2 host {$FRONTEND_2_DOMAIN}
    handle @frontend_2 {
        reverse_proxy {
            dynamic a {
                name {$FRONTEND_2_UPSTREAM_DOMAIN}
                port {$FRONTEND_2_UPSTREAM_PORT}
                refresh 1s
                dial_timeout 30s
                versions ipv4 ipv6
            }
            import proxy_common
        }
    }

    # ---------- FRONT 3 ----------
    # @frontend_3 host {$FRONTEND_3_DOMAIN}
    # handle @frontend_3 {
    #     reverse_proxy {
    #         dynamic a {
    #             name {$FRONTEND_3_UPSTREAM_DOMAIN}
    #             port {$FRONTEND_3_UPSTREAM_PORT}
    #             refresh 1s
    #             dial_timeout 30s
    #             versions ipv4 ipv6
    #         }
    #         import proxy_common
    #     }
    # }

    # ---------- FRONT 4 ----------
    # @frontend_4 host {$FRONTEND_4_DOMAIN}
    # handle @frontend_4 {
    #     reverse_proxy {
    #         dynamic a {
    #             name {$FRONTEND_4_UPSTREAM_DOMAIN}
    #             port {$FRONTEND_4_UPSTREAM_PORT}
    #             refresh 1s
    #             dial_timeout 30s
    #             versions ipv4 ipv6
    #         }
    #         import proxy_common
    #     }
    # }

    # ---------- BACKEND ----------
    @backend host {$BACKEND_DOMAIN}
    handle @backend {
        reverse_proxy {
            dynamic a {
                name {$BACKEND_UPSTREAM_DOMAIN}
                port {$BACKEND_UPSTREAM_PORT}
                refresh 1s
                dial_timeout 30s
                versions ipv4 ipv6
            }
            import proxy_common
        }
    }

    # ---------- DEFAULT ----------
    handle {
        respond "Proxy configurado. Revisa variables en Railway." 200
    }
}
